<div class='Container'>
	<h1>Contact Us</h1>
	<form action='/contact' method='POST'>

		<div class='form-group'>
			<label for='message'>Message</label>
			<textarea name='message' id='message' class='form-control'></textarea>
		</div>
		<br />
		<button type='submit' class='btn btn-primary'>Submit</button>
	</form>
</div>